<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="{{ url_for('static', filename='admin/lib/html5shiv.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='admin/lib/respond.min.js')}}"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/static/h-ui/css/H-ui.min.css')}}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/static/h-ui.admin/css/H-ui.admin.css')}}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/lib/Hui-iconfont/1.0.8/iconfont.css')}}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/static/h-ui.admin/skin/default/skin.css')}}" id="skin" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/static/h-ui.admin/css/style.css')}}" />
<!--[if IE 6]>
<script type="text/javascript" src="{{ url_for('static', filename='admin/lib/DD_belatedPNG_0.0.8a-min.js')}}"></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>添加定时任务 - 定时任务管理 - H-ui.admin v3.1</title>

</head>
<body>
<article class="page-container">
	<form  class="form form-horizontal" id="form1" action="/addjob" method="post" enctype="multipart/form-data">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>任务名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="任务名" id="spider_name" name="spider_name">
            </div>
	    </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>任务描述：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" autocomplete="off"  placeholder="任务描述" id="spider_desc" name="spider_desc">
            </div>
	    </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>采集页链接：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" autocomplete="off"  placeholder="采集页链接" id="spider_url" name="spider_url">
            </div>
	    </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>星期几：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="0-6" id="run_day" name="run_day">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>小时：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="0-23" name="run_hour" id="run_hour">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>分钟：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="0-59" name="run_min" id="run_min">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>秒：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="0-59" name="run_sec" id="run_sec">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">上传任务：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="btn-upload form-group">
                    <input class="input-text upload-url radius" type="text" name="uploadfile_1" id="uploadfile_1" readonly><a href="javascript:void();" class="btn btn-primary radius"><i class="iconfont">&#xf0020;</i> 浏览文件</a>
                    <input type="file" name="file_1" id="file_1" class="input-file">
                </span>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
	    </div>
    </form>
    <label id="responseText"></label>
</article>


<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="{{ url_for('static', filename='admin/lib/jquery/1.9.1/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='admin/lib/layer/2.4/layer.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='admin/static/h-ui/js/H-ui.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='admin/static/h-ui.admin/js/H-ui.admin.js')}}"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="{{ url_for('static', filename='admin/lib/jquery.validation/1.14.0/jquery.validate.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='admin/lib/jquery.validation/1.14.0/validate-methods.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='admin/lib/jquery.validation/1.14.0/messages_zh.js')}}"></script>
<script type="text/javascript">
$(function () {

	$("#form1").validate({
		rules:{
			spider_name:{
				required:true,
				minlength:4,
				maxlength:16
			},
			spider_desc:{
				required:true
			},
            spider_url:{
				required:true
			},
			run_day:{
				required:true,
				maxlength:10
			},
			run_hour:{
				required:true,
                maxlength:5
			},
			run_min:{
				required:true,
				maxlength:5
			},
			run_sec:{
				required:true,
				maxlength:5
			},
			file_1:{
				required:true
			}
		}
	});

});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
